*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
        color: aliceblue;
        background-color: black;
        position: sticky;
        width: 100%;
        top: 0;
        padding: 15px 20px;
        font-family: cursive;
    }
.navbars{
    display: flex;
justify-content: space-between;
}
.navbars li a { 
    text-decoration: none;
}
.nav-link { 
    display: flex;
    list-style: none;
}
.nav-link  li { 
  
    margin-left: 20px;
}
.nav-link a:hover{
    color: yellow;
}

