*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: aliceblue;
    background-color: black;
    position: sticky;
    width: 100%;
    top: 0;
    padding: 15px 20px;
    font-family: cursive;
}
.navbars{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.nav-link, li{
        display: flex;
}
.nav-link li a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
}
h3{
    /* padding-top: 30px */
}
.nav-link a:hover{
    
    color: rgb(6, 140, 46);

}
.contact {
    color: rgb(186, 190, 191);
    text-align: center;
    background-image: url(image/ab.jpg);
    height: 30vh;
    padding-top: 70px;

}
body{
    background-color: rgb(4, 5, 6);
    color: aliceblue;
}

.allblog{
    display: flex;
    padding: 0 6px;
  float: left;
  width: 24.99999%;
}
    

/* .allblog{
    border: 1px solid white;
   height: 300px;
   width: 300px;
   */
    
    


@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  